*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","宋体",sans-serif,"苹方";
	list-style: none;
	font-style: normal;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 516010 */
  src: url('//at.alicdn.com/t/font_516010_i0gev9f4rbhme7b9.eot');
  src: url('//at.alicdn.com/t/font_516010_i0gev9f4rbhme7b9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_516010_i0gev9f4rbhme7b9.woff') format('woff'),
  url('//at.alicdn.com/t/font_516010_i0gev9f4rbhme7b9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_516010_i0gev9f4rbhme7b9.svg#iconfont') format('svg');
}
.iconfont{
	font-family: "iconfont";
}
.slh{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
