@import url("base.css");
.dblj{
	width: 1163px;
	margin: 10px auto 0;
	border: 1px solid #dfdfdf;
	padding: 20px 0 20px 35px;
	overflow: hidden;
}
.dblj>div{
	float: left;
	width: 20%;
}
.dblj>div h2{
	font:bold 15px/27px "微软雅黑";
	color: #666;
	height: 27px;
}
.dblj a{
	display: block;
	font-size: 15px;
	line-height: 180%;
	color: #666;
	transition: .25s;
}
.dblj a:hover{
	color: #3EB4FA;
	t
}
.db{
	width: 100%;
	padding: 20px 0;
	text-align: center;
	font-size: 12px;
	color: #333;
}
.db1,.db2{
	line-height: 33px;
}
.db a{
	color: #666;
}
.db a:hover{
	text-decoration: underline;
	color: #3EB4FA;
	transition: .25s;
}
.db3{
	padding-top: 4px;
	line-height: 18px;
}
.db4{
	line-height: 33px;
	padding-top: 10px;
}
.db5{
	display: flex;
	padding-top: 10px;
	line-height: 33px;
	align-items: center;
	justify-content: center;
}
.db5>a{
	display: block;
	height: 47px;
}
.db5 p{
	background: url(../img/dibu/gov.gif) no-repeat;
	background-size: 21px 25px;
	padding: 0 0 0 25px;
	margin-left: 20px;
	display: flex;
	align-items: flex-end;
	line-height: 25px;
}
.fixed{
	display: none;
	position: fixed;
	width: 40px;
	top: 200px;
	left: 50%;
	margin-left: -660px;
	z-index: 999;
}
.fixed li{
	cursor: pointer;
	width: 28px;
    height: 39px;
    padding: 0 2px;
    color: #333333;
    text-align: center;
    line-height: 39px;
    border-bottom: 1px dotted #c2c2c2;
    background: #ffffff;
    position: relative;
    font-size: 12px;
}
.fixed li span{
	display: none;
	width: 28px;
    padding: 0 2px;
    height: 34px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
    color: #ffffff;
    background: #00b0f9;
    font: 12px/15px "微软雅黑";
    cursor: pointer;
}
.fixed-a{
	display: block;
    width: 28px;
    height: 30px;
    padding: 15px 2px 9px;
    font: 12px/15px "微软雅黑";
    color: #ffffff;
    background: #918888 url(../img/slidedown4.png) no-repeat center 7px;
}
.fixed li:hover{
	background: #00B0F9;
}
.fixed li:hover span{
	display: block;
}
.fixed .fixed-color{
	display: block;
}
