@import url("base.css");
h4{
	font-weight: normal;
}
.f1{
	width: 1200px;
	margin: 0 auto;
	height: 535px;
	overflow: hidden;
}
.f1 .top{
	width: 100%;
	height: 67px;
	position: relative;
	background: url(../img/1F/1f5.jpg) no-repeat;
}
.f1 .top ul{
	float: right;
	padding-top: 38px;
}
.f1 .top li{
	float: left;
	padding-right: 10px;
	font-size: 14px;
	line-height: 14px;
}
.f1 .top li a{
	color: #666;
	font-weight: 400;
}
.f1 .top li:first-of-type a{
	color:#e30077;
}
.f1 .main{
	width: 1198px;
	height: 466px;
	margin: 0 auto;
	border: 1px solid #e8e8e8;
	overflow: hidden;
}
.f1 .l1{
	float: left;
	width: 475px;
	height: 466px;
	border-right: 1px solid #E8E8E8;
}
.f1 .l1 .a1 img{
	display: block;
	width: 475px;
	height: 325px;
	border-bottom: 1px solid #E8E8E8;
}
.f1 .l1 .a2{
	display: block;
	width: 475px;
	height: 140px;
	position: relative;
}
.f1 .l1 .a2 h4{
	width: 245px;
	padding: 50px 0 0 25px;
	font-size: 18px;
	line-height: 18px;
	color: #222222;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.f1 .l1 .a2 p{
	width: 245px;
	padding: 8px 0 0 25px;
	font-size: 14px;
	line-height: 14px;
	color: #808080;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.f1 .l1 .a2 img{
	position: absolute;
	width:180px;
	height: 140px;
	right: 0;
	top: 0;
}
.f1 .l2{
	float: left;
	width: 240px;
	height: 466px;
	border-right: 1px solid #E8E8E8;
}
.f1 .l2>div{
	width: 240px;
	height: 232px;
	border-bottom: 1px solid#E8E8E8;
	position: relative;
} 
.f1 .l2 div:last-of-type{
	border: none;
}
.f1 .l2 .shang a{
	display: block;
	width: 100%;
	height: 100%;
}
.f1 .l2 .shang h4{
	width:210px;
	padding: 30px 15px 0;
	font-size: 18px;
	line-height: 18px;
	color: #222222;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.f1 .l2 .shang p{
	width: 210px;
	padding: 10px 15px 0;
	font-size: 14px;
	line-height: 14px;
	color: #808080;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.f1 .l2 .shang img{
	display: block;
	width: 240px;
	height: 120px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.f1 .l3{
	position: relative;
	float: left;
	width: 240px;
	height: 466px;
	border-right: 1px solid #E8E8E8;
}
.f1 .l3 a{
	display: block;
	height: 100%;
	width: 100%;
}
.f1 .l3 h4{
	width: 210px;
	padding: 24px 15px 0;
	font-size: 22px;
	line-height: 22px;
	color: #222222;
}
.f1 .l3 p{
	width: 210px;
	padding: 10px 15px 0;
	font-size: 14px;
	line-height: 14px;
	color: #808080;
}
.f1 .l3 img{
	display: block;
	width: 240px;
	height: 280px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.f2 .top{
	background: url(../img/1F/2f1.jpg) no-repeat;
	
}
.f3 .top{
	background: url(../img/3F/3f1.jpg) no-repeat;
	
}
.f3 .main .a1{
	display: block;
	width: 475px;
	height: 360px;
	border-bottom: 1px solid #E8E8E8;
	position: relative;
}
.f3 .main .a1 h4{
	width: 200px;
	padding: 25px 0 0 30px;
	font-size: 22px;
	line-height: 34px;
	color: #222222;
}
.f3 .main .a1 p{
	width: 220px;
	padding: 13px 0 0 30px;
	font-size: 14px;
	line-height: 14px;
	color: #808080;	
}
.f3 .main .a1 img{
	display: block;
	width: 235px;
	height: 360px;
	position: absolute;
	top: 0;
	right: 0;
}
.f3 .main .a1 i{
	display: block;
	width: 220px;
	padding: 40px 0 0 30px;
	font-size: 24px;
	line-height: 24px;
	color: #E40077;
}
.f3 .a3{
	width: 475px;
	height: 105px;
}
.f3 .a3 a{
	display: block;
	float: left;
	width: 95px;
	height: 50px;
	margin: 1px 0;
}
.f3 .a3 a img{
	height: 100%;
	width: 100%;
}
.f3 .shang i{
	display: block;
	width: 210px;
	padding: 10px 15px 0;
	font-size: 16px;
	line-height: 16px;
	color: #e40077;
}
