@import url("base.css");
body{
	background: url(../img/bj.jpg) no-repeat center -50px;
}
.head{
	height: 30px;
	width: 100%;
	background: #f5f5f5;
}
.head1{
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}
.head1 .left{
	display: flex;
	align-items: center;
	line-height: 30px;
}
.head1 .left em{
	color: #808080;
	margin-right: 10px;
}
.head1 .left a{
	display: block;
	width: 72px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #e40077;;
}
.head1 .right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.head1 li{
	margin: 0 17px;
}
.head1 li:nth-of-type(2){
	width: 110px;
	margin: 0;
}
.head1 li:nth-of-type(2) a{
	display: block;
	line-height: 30px;
	color: #808080;
	height: 100%;
	width: 120px;
	text-align: center;
	background: url(../img/head.png) no-repeat center center;
}
