@import url("base.css");
body{
	background: url(../img/bj.jpg) no-repeat center -50px;
}
.head{
	height: 30px;
	width: 100%;
	background: #f5f5f5;
}
.head1{
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}
.head1 .left{
	display: flex;
	align-items: center;
	line-height: 30px;
}
.head1 .left em{
	color: #808080;
	margin-right: 10px;
}
.head1 .left a{
	display: block;
	width: 72px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #e40077;;
}
.head1 .right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.head1 .right a{
	display: block;
	color: #808080;
}
.head1 .right li:hover a{
	color: #3EB4FA;
	transition: all .25s;
}
.head1 li{
	margin: 0 17px;
}
.head1 li:nth-of-type(2){
	width: 110px;
	margin: 0;
}
.head1 li:nth-of-type(2) a{
	border-left: 1px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
	box-sizing: border-box;
	display: block;
	line-height: 30px;
	color: #808080;
	height: 100%;
	width: 120px;
	text-align: center;
	background: url(../img/head.png) no-repeat center center;
}
.head1 li:nth-of-type(2):hover a{
	transition: all 0s;
	box-sizing: border-box;
	border-left: 1px solid #DFDDDE;
	border-right: 1px solid #DFDDDE;
	background-color: #FFFFFF;	
}
.head1 li:nth-of-type(2):hover .code-img{
	display: block;
	border-top: none;
}
.code-img{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 160px;
	height: 160px;
	border: 1px solid #dfddde;
	background: #fff;
	z-index: 10;
}
.code-img img{
	margin: 20px auto 0;
	display: block;
}
.code-img p{
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
